/* SELECTOR UNIVERSAL */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ---------------------------- LAYOUT INDEX ---------------------------- */

/* Estructura general con grid */
/* Se encuentra en el archivo scss */

/* ---------------------------- NOSOTROS ---------------------------- */

.layout__nosotros {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 11.6% 180% 6.4%;
}

.nav__nosotros {
  grid-area: nav;
  display: flex;
  border-bottom: 1px solid #cdc1c1;
  box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 2;
}

.main__nosotros {
  grid-area: main;
}

.nosotros__wrap--contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 20%;
}

.nosotros__caja {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin: 20px;
}

.nosotros__caja:last-child {
  margin-top: 10%;
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotros__caja:last-child > h2 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: #1f1f1f;
}

.nosotros__header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1f1f1f;
}

.nosotros__info {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.nosotros__main--aside {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  justify-content: space-between;
}

.nosotros__aside--article {
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 45%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  justify-content: center;
  font-size: 17px;
}

.nosotros__aside--article h3 {
  background-color: #ffe3b3;
}

.nosotros__info p {
  text-align: justify;
}

.nosotros__main--section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  padding: 25px;
  /* background-color: #faf6f0; */
  /* border: 2px solid rgba(128, 128, 128, 0.658); */
  border-radius: 10px;
  font-size: 17px;
}

.nosotros__main--section h3 {
  font-size: 25px;
}

.nosotros__main--section p {
  margin-top: 50px;
}

.nosotros__contenedor__imgDog {
  margin-top: 20px;
  margin-left: 28px;
  width: 400px;
  height: 200px;
}

.nosotros__contenedor__imgDog img {
  width: 400px;
  height: 200px;
}

.nosotros__contenedor--img {
  display: flex;
  width: 400px;
  height: 450px;
}

.nosotros__contenedor--img img {
  width: 390px;
  height: 390px;
  border-radius: 250px;
  border: 0.2px solid rgb(182, 178, 178);
  object-fit: cover;
  margin-top: 25px;
}

.contenido__caja2 {
  display: flex;
  flex-direction: row;
}

.nosotros__contenedor--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.nosotros__contenedor--info > h2 {
  font-size: 25px;
  color: #333333;
  border: 1px solid gray;
  padding: 20px 0px;
}
.nosotros__contenedor--info span {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-top: -30px;
  margin-left: 35px;
  color: #7d6666;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f2f2f2;
  width: 80%;
}
.nosotros__contenedor--info p {
  text-align: justify;
}

.nosotros__contenedor--info ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nosotros__contenedor--info ul li {
  margin: 25px 20px;
}
.nosotros__footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6.4%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------- SERVICIOS ---------------------------- */

.contenedor__servicios {
  display: flex;
  flex-direction: column;
  margin: 2.5% 10%;
  min-height: 80%;
  text-align: center;
}

.servicios__header {
  font-size: 25px;
  color: #333333;
}

.servicios__wrap {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.servicios__caja1,
.servicios__caja2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.servicio__contenedor--descripcion p {
  text-align: justify;
}

.servicio__contenedor--descripcion h4 {
  text-align: left;
  color: 333333;
  font-size: 25px;
}

.servicio__empresa {
  display: flex;
}

.servicio__contenedor--img {
  width: 800px;
}

.servicio__contenedor--img img {
  width: 100%;
}

/* ---------------------------- CLIENTES ---------------------------- */

.wrap__clientes {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 30px 200px;
}
.clientes__header {
  color: #1f1f1f;
  text-align: center;
  font-size: 23px;
}

.clientes__contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: center;
}

.clientes__article {
  background-color: #fffcfc;
  border: 2px solid #d2cfcf;
  margin: 4px 2px;
  width: 48%;
  height: 30%;
  display: flex;
}

.cliente__usuario {
  background-color: #78cf67a1;
  width: 60px;
  height: 60px;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 150px;
  border: 0.2px solid rgb(182, 178, 178);
}

.cliente__usuario h4 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.cliente__info {
  margin-top: 20px;
}

/* ---------------------------- CONTACTANOS ---------------------------- */

.wrap__contactanos img {
  position: relative;
  z-index: 1;
  margin: 10px;
  width: 80%;
  margin-top: 20px;
  margin-left: 140px;
}

.contactos__fondo--negro {
  margin-top: -549px;
  background-color: #00000081;
  position: relative;
  z-index: 2;
  width: 100%;
}

.wrap__contactanos--contenido {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 3;
  margin-top: -500px;
}

.contactanos__aside {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: start;
  width: 25%;
  color: white;
}

.contactanos__aside div {
  width: 25%;
  background-color: white;
  height: 5px;
}
.contactanos__aside {
  color: white;
  margin-left: 260px;
  width: 25%;
  font-size: 25px;
}

.contactanos__aside header {
  font-size: 30px;
}

.contactanos__aside p {
  font-size: 17px;
  margin-bottom: 30px;
}

.contactanos__aside ul {
  list-style: none;
}

.contactanos__aside ul li {
  margin: 9px;
  margin-bottom: 30px;
}

.contactanos__aside ul li a {
  color: white;
  text-decoration: none;
}

.contactanos__section {
  margin-left: 45px;
  margin-top: -40px;
  width: 25%;
  background-color: white;
  padding: 8px;
  border-radius: 22px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contactanos__section form {
  margin-left: 20px;
}

.form__dato {
  margin: 10px;
}
.contactanos__section form h2 {
  color: 000000;
  font-size: 26px;
}

.contactanos__section label,
.contactanos__section input,
.contactanos__section select,
.contactanos__section textarea {
  display: block;
  margin: 2px;
  width: 280px;
}

.contactanos__section input,
.contactanos__section select,
.contactanos__section textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px;
}

.contactanos__section form input[type="submit"] {
  background-color: black;
  color: white;
  padding: 3px;
  width: 70px;
  margin-top: 15px;
  margin-left: 193px;
}

.posicionNav {
  position: relative;
  z-index: 3;
}

/* ---------------------------- CATALOGO ---------------------------- */

.layout__catalogo {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 11.6% 12% 180% 6.4%;
}

.nav__catalogo {
  grid-area: nav;
  display: flex;
  border-bottom: 1px solid #cdc1c1;
  box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 2;
}

.header__catalogo {
  grid-area: header;
  border-bottom: 1px solid #cdc1c1;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 80px;
}

.header__catalogo h1 {
  width: 30%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1f1f1f;
  text-transform: uppercase;
}

.header__catalogo div {
  width: 30%;
}

.catalogo__buscar {
  margin-right: 100px;
}

.header__catalogo input {
  margin-top: -25px;
  width: 65%;
  height: 10px;
  border: transparent;
  background-color: #ffe3b3;
  height: 30px;
  border-radius: 5px;
  -webkit-box-shadow: inset 6px 8px 30px -20px rgba(130, 128, 130, 1);
  -moz-box-shadow: inset 6px 8px 30px -20px rgba(130, 128, 130, 1);
  box-shadow: inset 6px 8px 30px -20px rgba(130, 128, 130, 1);
  padding-left: 5px;
}

.header__catalogo input:focus {
  outline: none;
}

.fa-search {
  margin-top: 2px;
  margin-left: -130px;
  margin-right: -2px;
  position: relative;
  z-index: 1;
  color: gray;
}

/* ASIDE */

.aside__catalogo {
  width: 30%;
  margin: 4px;
}

.main__catalogo {
  grid-area: main;
  background-color: #f2eded;
  margin-left: 65px;
  margin-right: 90px;
  display: flex;
  height: 110%;
}

.aside__catalogo article {
  margin: 5px;
  background-color: white;
}
/*  */

.aside__catalogo ul {
  list-style: none;
}

.aside__catalogo li {
  width: 25%;
  display: block;
  position: relative;
  font-size: 14px;
  margin: 10px;
}

.aside__catalogo a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}

.aside__catalogo ul ul {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  z-index: 1;
}

.aside__catalogo ul ul li {
  display: block;
  border-bottom: 1px solid gray;
  width: 200px;
}
.aside__catalogo ul li:hover ul {
  display: block;
}

.catalogo__aside--article {
  background-color: white;
  border-bottom: 10px solid #f2eded;
  min-height: 70px;
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 25px;
  padding: 20px;
}

.section__catalogo {
  width: 67.5%;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.section__catalogo--titulo {
  color: #8a8a8a;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 28px;
}

.section__catalogo--productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__catalogo--productos .card {
  width: 45%;
  padding: 5px;
  margin: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  transition: all 1.1s;
}

.section__catalogo--productos .card:hover {
  transform: scale(1.08);
}

.card__contenedor--img {
  width: 345px;
  height: auto;
}

.card__contenedor--img img {
  width: 100%;
}

.card__titulo {
  margin-top: 8px;
  font-size: 17px;
}

.card__descripcion {
  color: #626262;
  margin-bottom: 7px;
}

.card span {
  color: black;
  font-weight: bold;
}

.card input {
  font-size: 15px;
  margin-left: 195px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #30b18b;
  border-radius: 5px;
  border: none;
  padding: 3px 10px 3px 10px;
}

.footer__catalogo {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 200%;
  height: 6.4%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

@media (max-width: 1024px) {
  .section__header {
    color: green;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
  }
}

/* ************************************** MEDIA QUERY NOSOTROS ************************************** */

@media (max-width: 1024px) {
  .nosotros__info {
    flex-direction: column;
  }

  .nosotros__main--aside {
    flex-direction: row;
    min-height: 210px;
  }

  .contenido__caja2 {
    flex-direction: column;
  }

  .nosotros__contenedor--info p {
    margin-top: 45px;
  }

  .nosotros__contenedor--info span {
    margin-top: -24px;
  }

  .nosotros__contenedor--img {
    margin-left: 90px;
  }

  .nav__wrap--menu {
    width: 45%;
  }
}


@media (max-width: 768px) {
  .nosotros__contenedor__imgDog img {
    width: 320px;
    margin-left: -101px;
  }

  .nosotros__contenedor--img img {
    /* width: 300px;
    height: 300px; */
    margin-left: -73px;
  }
}

@media (max-width: 412px) {
  .nosotros__main--aside {
    flex-direction: column;
    width: 100%;
  }
  .nosotros__contenedor--img {
    margin-bottom: 61px;
  }
  .nosotros__contenedor--img img {
    margin-left: -52px;
    width: 287px;
    height: 287px;
  }

  .nosotros__contenedor--info {
    margin-top: -189px;
  }

  .nosotros__contenedor__imgDog img {
    width: 320px;
    margin-left: -133px;
    height: 222px;
  }

  .nosotros__wrap--contenido {
    margin: 0% 0%;
  }

  .nosotros__header h1 {
    margin-bottom: 1.5rem;
  }

  .nosotros__contenedor--info ul {
    padding-left: 0rem;
  }
}

/* ************************************** MEDIA QUERY SERVICIOS************************************** */
/* DESKTOP ESTANDAR 1366 X 768*/
@media (max-width: 1366px) {
  /* ningun cambio */
}

/* DESKTOP MAS PEQUEÑA 1024 X 768*/
@media (max-width: 1024px) {
  .servicios__wrap {
    margin-top: -8px;
  }

  .contenedor__servicios {
    margin: 5.5% 0%;
  }
}

/* TABLET 720 X 1024 */
@media (max-width: 720px) {
  .contenedor__servicios {
    margin: -0.5% 0%;
  }

  .servicio__contenedor--descripcion p {
    font-size: 13.8px;
  }

  .servicios__header h1 {
    margin-top: 28px;
  }
}

/* movile 412 X 915 */
@media (max-width: 412px) {
  .servicio__contenedor--descripcion p {
    font-size: 11px;
  }

  .servicios__wrap {
    flex-direction: column;
  }

  .servicios__wrap .servicios__caja1,
  .servicios__caja2 {
    width: 83%;
    margin-left: 39px;
  }
}

/* ************************************** MEDIA QUERY CLIENTES************************************** */

/* DESKTOP ESTANDAR 1366 X 768*/
@media (max-width: 1366px) {
  /* ningun cambio */
}

/* DESKTOP MAS PEQUEÑA 1024 X 768*/
@media (max-width: 1024px) {
  .clientes__article {
    margin: 13px 6px;
  }

  .clientes__contenedor {
    margin-top: 1%;
  }
}

/* TABLET 720 X 1024 */
@media (max-width: 720px) {
  .wrap__clientes {
    margin: 46px 86px;
    height: 92%;
  }

  .clientes__article {
    height: 25%;
  }

  .clientes__header > h1 {
    margin-bottom: 2.5rem;
    margin-top: -10px;
  }

  .clientes__contenedor {
    margin-top: -57px;
    flex-direction: column;
    height: 105%;
  }
}

/* movile 412 X 915 */
@media (max-width: 412px) {
  .clientes__header > h1 {
    margin-bottom: -0.5rem;
    margin-top: -30px;
  }

  .wrap__clientes {
    margin: 46px 11px;
  }

  .clientes__contenedor {
    margin-top: -34px;
    height: 111%;
  }
}

/* ************************************** MEDIA QUERY CONTACTOS ************************************** */

/* DESKTOP ESTANDAR 1366 X 768*/
@media (max-width: 1366px) {
  .contactos__fondo--negro {
    height: 635px;
    margin-top: -604px;
  }

  .wrap__contactanos img {
    height: 561px;
    margin-top: 37px;
  }

  .contactanos__aside ul {
    padding-left: 0rem;
  }

  .wrap__contactanos--contenido {
    margin-top: -536px;
  }
}
/* DESKTOP MAS PEQUEÑA 1024 X 768*/
@media (max-width: 1024px) {
  .contactanos__aside {
    width: 35%;
    margin-left: 189px;
  }

  .contactanos__section {
    width: 34%;
    margin-left: 17px;
  }
}

/* TABLET 720 X 1024 */
@media (max-width: 720px) {
  .wrap__contactanos--contenido {
    flex-direction: column;
    margin-top: -592px;
  }

  .contactanos__aside {
    flex-direction: column;
    margin-left: 102px;
    margin-top: -234px;
  }

  .contactanos__aside ul {
    padding-left: 16rem;
    margin-top: -217px;
  }

  .contactanos__aside ul li a {
    font-size: 18px;
  }
  .fa-envelope {
    margin-right: 20px;
  }

  .fa-phone {
    margin-right: 20px;
  }

  .fa-map-marker-alt {
    margin-right: 20px;
  }

  .contactanos__aside ul li a {
    display: flex;
  }

  .contactanos__section {
    width: 50%;
    margin-left: 179px;
    margin-top: -24px;
  }

  .wrap__contactanos img {
    height: 851px;
    margin-top: 1px;
    margin-left: 82px;
    width: 77%;
  }

  .contactos__fondo--negro {
    height: 874px;
    margin-top: -871px;
  }
}

/* movile 412 X 915 */
@media (max-width: 412px) {
  /* FALTA */

  .wrap__contactanos img {
    height: 727px;
    margin-left: 12px;
    width: 95%;
  }

  .contactos__fondo--negro {
    height: 787px;
    margin-top: -742px;
  }

  .wrap__contactanos--contenido {
    margin-top: 519px;
  }

  .contactanos__aside {
    margin-top: -1284px;
    margin-left: 26px;
  }

  .contactanos__section {
    width: 89%;
    margin-top: -20px;
    margin-left: 22px;
  }

  .contactanos__aside ul {
    padding-left: 10rem;
    margin-top: -262px;
  }

  .wrap__contactanos--contenido h2{
    font-size: 17px;
  }

  .wrap__contactanos--contenido p {
    font-size: 15px;
  }

  .wrap__contactanos--contenido ul li a {
    font-size: 14px;
  }

}

/* ************************************** MEDIA QUERY CATALOGO************************************** */

/* DESKTOP ESTANDAR 1366 X 768*/
@media (max-width: 1366px) {
  .header__catalogo > h1 {
    margin-top: 21px;
  }

  .footer__catalogo {
    width: 100%;
    margin-left: -126px;
  }
}

/* DESKTOP MAS PEQUEÑA 1024 X 768*/
@media (max-width: 1024px) {
  .footer__catalogo {
    width: 100%;
    margin-left: -43px;
  }
  .section__catalogo {
    width: 66.5%;
  }
  .card__contenedor--img img {
    width: 71%;
  }

  .card input {
    margin-left: 167px;
  }

  .main__catalogo {
    height: 100%;
  }

  .layout__catalogo {
    grid-template-rows: 11.6% 12% 155% 6.4%;
  }
}

/* TABLET 720 X 1024 */
@media (max-width: 720px) {
  .main__catalogo {
    flex-direction: column;
  }

  .fa-search {
    position: absolute;
    top: 150px;
    right: 230px;
  }

  .section__catalogo {
    width: 96.5%;
  }
  .card__contenedor--img img {
    width: 66%;
  }

  .card input {
    margin-left: 151px;
  }

  .aside__catalogo {
    display: flex;
    height: 14%;
  }

  .catalogo__aside--article h3,
  .catalogo__aside--article a {
    font-size: 16px;
  }

  .layout__catalogo {
    grid-template-rows: 11.6% 12% 135% 6.4%;
  }

  .footer__catalogo {
    width: 100%;
    margin-left: -102px;
  }
}

/* movile 412 X 915 */
@media (max-width: 412px) {
  .aside__catalogo {
    flex-direction: column;
    width: 97.5%;
  }

  .section__catalogo {
    margin-top: 0%;
    width: 94.5%;
  }

  .aside__catalogo ul {
    display: none;
  }

  .main__catalogo {
    margin-left: 11px;
    margin-right: 13px;
    height: 160%;
  }

  /* .section__catalogo {
    margin-top: 60%;
  } */

  .section__catalogo--productos {
    flex-direction: column;
  }
  .section__catalogo--productos .card {
    width: 92%;
  }

  .card__contenedor--img img {
    width: 91%;
  }
  .section__catalogo--titulo {
    margin-bottom: 1px;
    margin-left: 9px;
  }

  .layout__catalogo {
    grid-template-rows: 11.6% 12% 195% 6.4%;
  }

  .footer__catalogo {
    width: 100%;
    margin-left: -20px;
  }

  .header__catalogo > h1 {
    margin-top: 27px;
    margin-left: -91px;
  }

  .header__catalogo input {
    width: 120%;
    display: block;
    margin-left: 52px;
    margin-top: 30px;
  }

  .fa-search {
    position: absolute;
    top: 142px;
    right: 60px;
  }
}
